# Local environment files
/.env*
/*.env
/env.*
.envrc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# My own notes
/SHZ_NOTES.md

# Local Go work file
go.work

# macOS desktop settings
.DS_Store

# Ignore input and output
/log-analysis/input
/log-analysis/output
/log-analysis/intermediate

# Ignore any env files
.env*
env*
*.env*
/log-analysis/validation
*.ipynb
